<mat-list>
    <mat-list-item>
        <div fxFlex="1 1 100%" class="info-style">
            <strong>Albums</strong>
        </div>
        <div fxFlex="1 1 100%">
            {{ _count }}
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <div fxFlex="1 1 100%" class="info-style">
            <strong>Total</strong>
        </div>
        <div fxFlex="1 1 100%">
            {{ _total }} kr
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
