<h2 mat-dialog-title>Register</h2>
<app-alert *ngIf="error != null" [value]="error"></app-alert>
<form novalidate (ngSubmit)="register()">
    <mat-dialog-content [formGroup]="form">
        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <input matInput maxlength="255" placeholder="Name" [formControl]="form.controls.name">
                <mat-error *ngIf="form.controls.name.hasError('required') ||
               form.controls.name.hasError('minlength')">required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <input matInput maxlength="255" placeholder="Email" [formControl]="form.controls.email">
                <mat-error *ngIf="form.controls.email.hasError('required') ||
               form.controls.email.hasError('minlength')">required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <input matInput maxlength="255" placeholder="Password" type="password"
                       [formControl]="form.controls.password">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" class="mat-raised-button" (click)="close()">Close</button>
        <button type="submit" class="mat-raised-button mat-primary" (click)="register()" [disabled]="working">
            <span *ngIf="!working">Signup</span>
            <mat-spinner diameter="20" *ngIf="working" style="margin: auto;"></mat-spinner>
        </button>
    </mat-dialog-actions>
</form>
