.app-footer{
    width: 100%;
    position: relative;
    height: 16em;
    color: #ffffff;
    display: flex;
  background: #2b2a2a;

    .app-footer-content {
        osition: relative;
        width: 100%;
        align-self: center;
        text-align: center;


        display: flex;
        flex-direction: column;

        .app-footer-title {
            padding: 16px 12px 12px 12px;
            font-size: 22px;
            text-transform: uppercase;
            position: center;

        }

        .app-footer-info {
            display: flex;
            flex: 1;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 32px 32px 0 32px;

            font-size: 14px;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;

                span {
                    padding: 12px;
                }
            }
        }
    }

}
