<div class="app-footer">
    <div class="app-footer-content">
        <div class="app-footer-title">
            <span>About</span>
        </div>
        <div class="app-footer-info">
            <div>
                <span>Pet House</span>

                <span>Linneuniversitet</span>
                <span>Växjö </span>
            </div>
            <!--  COMMENTS --> 
            <div class="app-footer-info-map">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="110" id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=linnaeus%20univ&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style></style></div>

            </div>
        
    
            <div>
                <span>pethouse@twitter</span>
                <span>support@pethouse</span>
                <span>070111111</span>
            </div>
        </div>
    </div>
    <svg class="svg-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 60 40" preserveAspectRatio="none">
        <path fill="#37474f"
              d="M640 640L640 0C621.57 9.76 610.06 15.85 605.45 18.29C538.11 53.94 487.19 6.46 414.08 20C355.46 30.86 275.08 107.71 216.66 97.74C142.83 85.14 69.86 41.92 3.64 2.18C1.21 0.73 1.21 0.73 3.64 2.18C2.04 1.22 0 2.38 0 4.24C0 89.01 0 300.93 0 640"
              id="cYnGNd6WS"></path>
    </svg>
</div>
