.app-product-info-title {
    text-align: center;
    padding: 32px;
    background-color: white;
    font-size: 48px;
}

.app-product-info-extra {
    background-color: white;
    padding: 0 32px 32px 32px;
}
