<div class="page-content">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <mat-toolbar class="toolbar-header">
        <mat-toolbar-row>
            <span class="font-larger">Welcome {{authenticationService.getName()}}!</span>
            <span class="mat-toolbar-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-grid-list cols="3" rowHeight="240px" class="app-admin-tiles">
        <mat-grid-tile *ngFor="let element of tools"
                       [colspan]="element.cols"
                       [rowspan]="element.rows"
        >
            <app-admin-tile
                [color]="element.color"
                [text]="element.text"
                [icon]="element.icon"
                [url]="element.url"
                style="width: 100%;"
            ></app-admin-tile>
        </mat-grid-tile>
    </mat-grid-list>
</div>

