.app-admin-tile-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px;
    cursor: pointer;
    transition: all .2s;
}

.app-admin-tile-card:hover {
    color: white;

    ul li .mat-icon {
        color: white;
    }
}

.app-admin-tile-content {
    margin: 8px;
    height: 100%;
    max-height: 180px;
}



