<div fxFlex="1 1 100%">
    <mat-list>
        <mat-list-item>
            <div fxFlex="1 1 100%" class="info-style">
                <strong>City</strong>
            </div>
            <div fxFlex="1 1 100%">
                {{city }}
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div fxFlex="1 1 100%" class="info-style">
                <strong>Street</strong>
            </div>
            <div fxFlex="1 1 100%">
                {{ street }}
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div fxFlex="1 1 100%" class="info-style">
                <strong>Postalnumber</strong>
            </div>
            <div fxFlex="1 1 100%">
                {{ postalNumber }}
            </div>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div fxFlex="1 1 100%" class="info-style">
          <strong>Phonenumber</strong>
        </div>
        <div fxFlex="1 1 100%">
          {{ phoneNumber }}
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div fxFlex="1 1 100%" class="info-style">
          <strong>Email</strong>
        </div>
        <div fxFlex="1 1 100%">
          {{ email }}
        </div>
      </mat-list-item>
    </mat-list>
</div>
