<div class="page-content">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="page-toolbar">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="font-larger">{{ product.name }}</span>
                <span class="mat-toolbar-spacer"></span>
                <button mat-icon-button (click)="openUploadComponent()">
                    <mat-icon class="mat-36">cloud_upload</mat-icon>
                </button>
                <button mat-icon-button (click)="openEditComponent()">
                    <mat-icon class="mat-36">edit</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>


    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" style="padding-bottom: 16px;">
        <div fxFlex="1 1 100%" class="app-main-product-img">
            <app-product-tracks [productId]="product.id" fxFill></app-product-tracks>
        </div>
        <div fxFlex="1 1 80%">
            <img [lazyLoad]="this.product.cover" [style.animation-duration]="23" class="app-admin-product-image"
                 alt="">
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <app-product-categories [productId]="product.id" fxFill></app-product-categories>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" style="padding-bottom: 24px;">

    </div>
</div>
