<div class="app-page-not-found">

    <div class="info">
        <div>404</div>
        <div>Page not found</div>
    </div>
    <svg class="svg-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" preserveAspectRatio="none">
        <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
                <stop offset="5%" stop-color="gold"></stop>
                <stop offset="95%" stop-color="red"></stop>
            </linearGradient>
        </defs>
        <path fill="#a7c0cd" d="M640 0L640 460C619.63 476.18 606.89 486.29 601.8 490.34C546.37 534.35 473.9 550.69 404.95
         534.7C355.07 523.14 386.84 530.51 355.04 523.13C231.39 494.47 101.79 533.24 14.2 625.1C12.31 627.09
         7.58 632.05 0 640L0 0" id="en4Ed0Oo7"></path>
    </svg>
</div>
