<div class="app-page-not-found">

    <div class="info">
        <div>404</div>
        <div>Page not found</div>
    </div>
    <svg class="svg-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" preserveAspectRatio="none">
        <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
                <stop offset="5%" stop-color="gold"></stop>
                <stop offset="95%" stop-color="red"></stop>
            </linearGradient>
        </defs>
    </svg>
</div>
