<div class="page-content">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <mat-toolbar class="toolbar-header">
        <mat-toolbar-row>
            <span class="font-larger" >Categories</span>
            <span class="mat-toolbar-spacer"></span>
            <button mat-flat-button color="primary" (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
                Add
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-table [dataSource]="dataSource" class="mat-table-content">
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="bigger-size-text"> Name</mat-header-cell>
            <mat-cell *matCellDef="let element" class="small-size-text"><strong> {{element.name}} </strong>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="albums">
            <mat-header-cell *matHeaderCellDef class="bigger-size-text"> Albums</mat-header-cell>
            <mat-cell *matCellDef="let element" class="small-size-text">{{element.count}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef class="biggest-size-text"> Description</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef> Created</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-end">
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="openCategoryDeleteComponent(element)">
                        <mat-icon color="warn">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>



