<h2 mat-dialog-title>Upload</h2>
<app-alert *ngIf="error != null" [value]="error"></app-alert>
<form novalidate (ngSubmit)="save()">
    <mat-dialog-content [formGroup]="form">
        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <input-file placeholder="Track" [formControl]="form.controls.file"></input-file>
                <mat-icon matSuffix>music_note</mat-icon>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" class="mat-raised-button" (click)="close()">Close</button>
        <button type="submit" class="mat-raised-button mat-primary" (click)="save()" [disabled]="working">
            <span *ngIf="!working">Save</span>
            <mat-spinner diameter="20" *ngIf="working" style="margin: auto;"></mat-spinner>
        </button>
    </mat-dialog-actions>
</form>
